<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu-Fabrica de Veiculos</title>
</head>
<body>
    <section>

        <form action="../Controller/processa.php" method="POST" id="formMenu">

            <button type="submit" name="acao" value="fabricar">Fabricar Veiculo</button>
            <button type="submit" name="acao" value="venda">Vender Veiculo</button>
            <button type="submit" name="acao" value="info">Ver Informações</button>

        </form>


    </section>

    
</body>
</html>